body{
	margin:0;
}
a{
	text-decoration:none;
}
.loginBtn{
    color: brown;
    padding: 5px;
    margin: 5px;
    background-color: inherit;
    border: 1px solid;
    border-color:black;
    border-radius: 5px;
    cursor: pointer;
}

.logoutBtn{
    color: brown;
    padding: 5px;
    margin: 5px;
    background-color: inherit;
    border: 1px solid;
    border-color:black;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.element{
	position: absolute;
	padding: 20px;
    padding-right: 80px;
    right: 0;
    margin-bottom: -50px;
    bottom: 0;
    width: 45%;
    z-index: -50;
}

.homeElement{
	position: absolute;
	opacity: 0.9;
	padding: 10px;
    padding-right: 80px;
    right: 0;
    margin-bottom: -150px;
    bottom: 0;
    width: 35%;
    z-index: -50;
}

.eleCanElement{
	position: absolute;
	padding: 10px;
    padding-right: 80px;
    right: 0;
    margin-bottom: -20px;
    bottom: 0;
    width: 35%;
    z-index: -50;
}